* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 16px;
}

body {
  background: radial-gradient(rgb(212, 255, 0), rgb(215, 137, 137));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joueurs {
  position: relative;
  top: 87px;
  left: 250px;
  z-index: 100;
  width: 392px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(255, 106, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 3px black;
  position: absolute;
}

#info,
#info1 {
  width: 360px;
  height: 33px;
}

.tapis {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 15px;
  position: absolute;
  background-color: rgb(135 165 90);
  width: 75vw;
  height: 100vh;
  box-shadow: -6px 6px 6px 0px #2823238f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.boxmessage {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

span#message {
  border: solid black;
  border-radius: 15px;
  width: 300px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  background-color: rgb(0, 225, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  position: absolute;
  top: 0;
  margin-top: 15px;
  width: 75vw;
  height: 123px;
  position: absolute;
  top: 0;
  margin-top: 7px;
  width: 75vw;
  height: 123px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.newGameButton {
  position: relative;
  left: -86px;
  top: -15px;
  cursor: pointer;
  height: 50px;
  width: 200px;
  background: rgb(204, 84, 0);
  border-radius: 10px;
  font-size: 1.5em;
}

.newGameButton:hover {
  background: green;
  color: whitesmoke;
}

.playeurs {
  position: absolute;
  top: 260px;
  width: 349px;
  height: 216px;
  width: 100%;
}

.tot01 {
  position: relative;
 left: 140px;
}

.tot02 {
  position: relative;
  right: -140px;
}

.toto2,
.toto1 {
  height: 200px;
  border: solid whitesmoke;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

p,
.tototext,
#namePlayer1,
#namePlayer2 {
  font-size: 1.25em;
  font-weight: 900;
}

/* #pl1 {
  margin-right: 100px;
} */

/* #pl2 {
  margin-left: 100px;
} */

#pl1,
#pl2 {
  text-align: center;
}

#namePlayeur1,
#namePlayer2 {
  font-size: 1.6em;
  font-weight: 900;
}

#player1-total-score,
#player2-total-score {
  position: relative;
  top: 61px;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.playeurs,
.groupeLance {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.groupeLance {
  height: 150px;
  background-color: hsla(6, 81%, 50%, 1);
  border: solid whitesmoke 2px;
  box-shadow: -9px 8px 0 rgb(74, 75, 73);
  border-radius: 55px;
  position: fixed;
  top: 700px;
  width: 1230px;
}

.boxcourant1,
.boxcourant2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 17px;
}

#courant1,
courant1 {
  font-size: 21px;
  text-align: center;
}

#player1-round-score,
#player2-round-score {
  border-radius: 15px;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

#play {
  position: absolute;
  top: 166px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

img#new-game-button {
  cursor: pointer;
  position: absolute;
  border-top: 0;
  width: 108px;
  border: solid 5px;
  border-radius: 50%;
}

h1 {
  text-align: center;
  margin-top: 35px;
  font-size: 2rem;
  margin-left: 25rem;
}

#tapisdécoration {
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  background-color: green;
  width: 25vw;
  border: solid 2px;
  border-right: white;
  border-bottom: white;
  border-radius: 25px;
  border-top-left-radius: black;
  border-top-right-radius: black;
  border-bottom-right-radius: with;
  border-bottom-left-radius: black;
}

img.style {
  width: 22vw;
  height: 50vh;
}

main {
  background: rgb(73, 118, 5);
  border: solid 5px;
  width: 75vw;
  height: 80vh;
  /* background: rgba(0, 0, 255, 0.219); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img#dé {
  transition: transform 2s;
  position: absolute;
  left: 600px;
  width: 250px;
  border: solid 5px;
  border-radius: 50%;
}

.fa-solid,
.fas {
  font-weight: 900;
  font-size: 36px;
  margin-left: 29px;
}

h2 {
  text-align: center;
  color: rgb(19, 19, 2);
  font-size: 1.5 em;
}

.Courant1 {
  margin-right: 360px;
}

.Courant2 {
  margin-left: 360px;
}

.roll-dice {
  cursor: pointer;
  font-size: 27px;
}

.boxbutton {
  display: flex;
  justify-content: center;
}

.style {
  cursor: pointer;
  width: 80px;
  height: 55px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  color: rgb(24, 71, 154);
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(218, 198, 20);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.style:hover {
  background-color: rgb(255, 251, 0);
}

.style {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* ----------------------------------------------------scores listes--------------------------------------------------- */
.titreScore {
  height: 30px;
}

button,
.titreScore,
#score-table,
#score-table2 .titreScore {
  border: solid 2px;
  width: px;
  text-align: center;
}

.boxScore {
  width: 155px;
}

#twinScrores {
  z-index: 200;
  position: absolute;
  top: -344px;
  left: 551px;
  padding: 20px;
  border-radius: 10px;
  border: solid 3px saddlebrown;
  width: 340px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: bisque;
}

.boxScore,
.titreScore,
#score-table,
.titreScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

button,
.buttonscores,
#validerJoueurActif2 {
  padding: 8px;
  cursor: pointer;
  border-radius: 16px;
  height: 35px;
  background-color: rgb(243, 239, 0);
  font-size: 0.9em;
  color: rgb(25, 35, 6);
}

@media screen and (max-width: 1584px) {
  img.style {
    width: 2600px;
  }

  .header {
    position: absolute;
    top: -63px;
    flex-direction: column;
    width: 300px;
    height: 348px;
    justify-content: center;
    align-content: center;
  }

  img#new-game-button {
    width: 75px;
    top: 63px;
    left: 113px;
  }

  .boxmessage {
    position: relative;
    left: 143px;
    font-size: 5.1em;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #message {
    position: relative;
    top: 10px;
    width: 220px;
  }

  .playeurs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img#dé {
    display: none;
  }

  .groupeLance {
    display: flex;
    flex-direction: row;
    width: 533px;
    height: 245px;
    position: absolute;
    top: 500px;
  }

  #player1-round-score,
  #player2-round-score {
    width: 134px;
    height: 37px;
  }

  #roll-dice-button {
    cursor: pointer;
    font-size: 19px;
    position: absolute;
    top: 30px;
    left: 124px;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .playeurs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 113px;
  }

  /* #pl1,
  #pl2 {
    margin: 0px;
  } */

  h2,
  #player1-total-score,
  #player1-total-score,
  #roll-dice-button,
  .boxmessage {
    margin-bottom: 1px;
    font-size: 1.5em;
    text-align: center;
  }

  img#dé {
    display: none;
  }

  .groupeLance {
    display: flex;
    flex-direction: row;
    width: 367px;
    height: 245px;
    position: absolute;
    top: 370px;
  }

  #player1-round-score,
  #player2-round-score {
    width: 134px;
    height: 37px;
  }

  #roll-dice-button {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 124px;
  }
}

@media screen and (max-width: 1280px) and (orientation: landscape) {
  .header {
    position: absolute;
    top: -43px;
    flex-direction: column;
    width: 672px;
    height: 151px;
    justify-content: center;
    align-content: center;
  }

  #tapisdécoration {
    display: none;
  }

  img#new-game-button {
    width: 75px;
    top: 45px;
    left: 70px;
  }

  .playeurs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0px;
  }

  #pl1,
  #pl2 {
    margin: 0px;
    width: 120px;
    height: 30px;
  }

  /* #pl1 {
    position: absolute;
    left: 70px;
  } */

  /* #pl2 {
    position: absolute;
    right: 70px;
    height: 27px;
  } */

  h2,
  #player1-total-score,
  #player2-total-score,
  #roll-dice-button,
  #player1-round-score,
  #player2-round-score {
    margin-top: 0;
    font-size: 16px;
    text-align: center;
    width: 120px;
    height: 25px;
  }

  .groupeLance {
    display: flex;
    flex-direction: row;
    width: 367px;
    height: 200px;
    position: absolute;
    top: 145px;
  }

  #Courant1,
  #Courant2 {
    margin-bottom: 15px;
  }

  #roll-dice-button {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 124px;
  }
}
